@media screen and (max-width: 480px) {
	html, body {
		min-width: 320px;
	}

}


@media screen and (max-width: 1680px) {
	body, input, select, textarea {
		font-size: 14pt;
	}

}

@media screen and (max-width: 1280px) {
	body, input, select, textarea {
		font-size: 12pt;
	}

}

@media screen and (max-width: 360px) {
	body, input, select, textarea {
		font-size: 11pt;
	}

}


@media screen and (max-width: 736px) {

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 736px) {
    header.major > p br {
        display: none;
    }
}

@media screen and (max-width: 480px) {

	form > .fields {
		width: calc(100% + 3em);
		margin: -1.5em 0 2em -1.5em;
	}

	form > .fields > .field {
		padding: 1.5em 0 0 1.5em;
		width: calc(100% - 1.5em);
	}

	form > .fields > .field.half {
		width: calc(100% - 1.5em);
	}

	form > .fields > .field.third {
		width: calc(100% - 1.5em);
	}

	form > .fields > .field.quarter {
		width: calc(100% - 1.5em);
	}
}

@media screen and (max-width: 736px) {
    .image.main {
        margin: 1.5em 0;
    }
}

@media screen and (max-width: 736px) {
    ul.icons li {
        padding: 0 0.75em 0 0;
    }
}

@media screen and (max-width: 1280px) {

    .tiles article {
        padding: 4em 3em 2em 3em ;
        height: 30vh;
        max-height: 30em;
        min-height: 20em;
    }
}

@media screen and (max-width: 980px) {

    .tiles article {
        width: 50% !important;
    }

}

@media screen and (max-width: 736px) {

    .tiles article {
        padding: 3em 1.5em 1em 1.5em ;
        height: 16em;
        max-height: none;
        min-height: 0;
    }

        .tiles article h3 {
            font-size: 1.5em;
        }

}

@media screen and (max-width: 480px) {

    .tiles {
        display: block;
    }

        .tiles article {
            height: 20em;
            width: 100% !important;
        }
}

@media screen and (max-width: 1680px) {

    #header nav a[href="#menu"] {
        padding-right: 3.75em !important;
    }

        #header nav a[href="#menu"]:last-child {
            padding-right: 4.25em !important;
        }

}

@media screen and (max-width: 1280px) {

    #header nav a[href="#menu"] {
        padding-right: 4em !important;
    }

        #header nav a[href="#menu"]:last-child {
            padding-right: 4.5em !important;
        }

}

@media screen and (max-width: 736px) {

    #header {
        height: 2.75em;
        line-height: 2.75em;
    }

        #header .logo {
            padding: 0 1em;
        }

        #header nav a {
            padding: 0 0.5em;
        }

            #header nav a:last-child {
                padding-right: 1em;
            }

            #header nav a[href="#menu"] {
                padding-right: 3.25em !important;
            }

                #header nav a[href="#menu"]:before, #header nav a[href="#menu"]:after {
                    right: 0.75em;
                }

                #header nav a[href="#menu"]:last-child {
                    padding-right: 4em !important;
                }

                    #header nav a[href="#menu"]:last-child:before, #header nav a[href="#menu"]:last-child:after {
                        right: 1.5em;
                    }

}

@media screen and (max-width: 480px) {

    #header .logo span {
        display: none;
    }

    #header nav a[href="#menu"] {
        overflow: hidden;
        padding-right: 0 !important;
        text-indent: 5em;
        white-space: nowrap;
        width: 5em;
    }

        #header nav a[href="#menu"]:before, #header nav a[href="#menu"]:after {
            right: 0;
            width: inherit;
        }

        #header nav a[href="#menu"]:last-child:before, #header nav a[href="#menu"]:last-child:after {
            width: 4em;
            right: 0;
        }
}

@media screen and (max-width: 736px) {

    #main > * > .inner {
        padding: 3em 0 1em 0 ;
        width: calc(100% - 3em);
    }

}


@media screen and (max-width: 980px) {

    #contact > .inner {
        display: block;
    }

        #contact > .inner > :nth-child(2n - 1) {
            padding: 4em 0 2em 0 ;
            border-right: 0;
            width: 100%;
        }

        #contact > .inner > :nth-child(2n) {
            padding-left: 0;
            width: 100%;
        }

        #contact > .inner > .split > * {
            padding: 3em 0 1em 0 ;
        }

        #contact > .inner > .split > :first-child:before {
            display: block;
        }

}

@media screen and (max-width: 736px) {

    #contact > .inner > :nth-child(2n - 1) {
        padding: 3em 0 1em 0 ;
    }
}

@media screen and (max-width: 480px) {

    #footer .copyright li {
        display: block;
        border-left: 0;
        margin-left: 0;
        padding-left: 0;
        line-height: inherit;
    }

}


@media screen and (max-width: 736px) {

    #wrapper > * > .inner {
        padding: 3em 0 1em 0 ;
        width: calc(100% - 3em);
    }

}

@media screen and (max-width: 736px) {
    #wrapper {
        padding-top: 2.75em;
    }
}

@media screen and (max-width: 480px) {

	#banner {
		padding: 6em 0 2em 0 ;
	}

		#banner > .inner .content p br {
			display: none;
		}

		#banner.major {
			padding: 8em 0 4em 0 ;
		}

}

@media screen and (max-width: 1280px) {

	#banner {
		background-attachment: scroll;
	}

}

@media screen and (max-width: 736px) {

	#banner {
		padding: 5em 0 1em 0 ;
		height: auto;
		margin-bottom: -2.75em;
		max-height: none;
		min-height: 0;
		top: -2.75em;
	}

    #banner h1 {
        font-size: 2em;
    }

    #banner > .inner .content {
        display: block;
    }

    #banner > .inner .content > * {
        margin-right: 0;
        margin-bottom: 2em;
    }

    #banner.major {
        height: auto;
        min-height: 0;
        max-height: none;
    }

}